</div>
<div class="fvert">
<div class="fhorb">
<button id="tclb" onclick="tclb()">CLEAR</button>
<button id="trsb" onclick="trsb()">RESET</button>
<button id="tcpb" onclick="tcpb()">COPY</button>
<button id="trnb" onclick="trnb()">RUN</button>
</div>
<textarea id="stdin"></textarea>
<textarea id="stdout" readonly></textarea>
</div>
</div>
<script>
let defcod = "import std::io;\n\nfn void main()\n{\n\tint x;\n\tdouble y;\n\n\tif ($defined(z))\n\t{\n\t\tio::printfn(\"hello, world\");\n\t}\n\tio::printfn($qnameof(io::printfn));\n\tio::printfn(\"%s %s\", $sizeof(x), $sizeof(y));\n\tio::printfn(\"isz has size: %d\", isz.sizeof);\n}\n";
</script>
