</div>
<div class="fvert">
<div class="fhorb">
<button id="tclb" onclick="tclb()">CLEAR</button>
<button id="trsb" onclick="trsb()">RESET</button>
<button id="tcpb" onclick="tcpb()">COPY</button>
<button id="trnb" onclick="trnb()">RUN</button>
</div>
<textarea id="stdin"></textarea>
<textarea id="stdout" readonly></textarea>
</div>
</div>
<script>
let defcod = "import std::io;\n\nfn void main()\n{\n\tint[6] list = { 2, 3, 5, 7, 11, 13 };\n\tint *p;\n\n\tp = &list;\n\tio::printfn(\"%d\", list[4]);\n\tio::printfn(\"%d\", *p);\n}\n";
</script>

