</div>
<div class="fvert">
<div class="fhorb">
<button id="tclb" onclick="tclb()">CLEAR</button>
<button id="trsb" onclick="trsb()">RESET</button>
<button id="tcpb" onclick="tcpb()">COPY</button>
<button id="trnb" onclick="trnb()">RUN</button>
</div>
<textarea id="stdin"></textarea>
<textarea id="stdout" readonly></textarea>
</div>
</div>
<script>
let defcod = "import std::io;\n\nfn void main()\n{\n\tint i;\n\tint *p;\n\n\ti = 0;\n\tp = &i;\n\tio::printfn(\"%d\", i);\n\tio::printfn(\"%d\", *p);\n\t*p = 1;\n\tio::printfn(\"%d\", i);\n\tio::printfn(\"%d\", *p);\n}\n";
</script>

