</div>
<div class="fvert">
<div class="fhorb">
<button id="tclb" onclick="tclb()">CLEAR</button>
<button id="trsb" onclick="trsb()">RESET</button>
<button id="tcpb" onclick="tcpb()">COPY</button>
<button id="trnb" onclick="trnb()">RUN</button>
</div>
<textarea id="stdin"></textarea>
<textarea id="stdout" readonly></textarea>
</div>
</div>
<script>
let defcod = "import std::io;\n\nstatic initialize\n{\n\tio::printf(\"hello\");\n}\n\nstatic finalize\n{\n\tio::printfn(\"world\");\n}\n\nfn void main()\n{\n\tio::printf(\", \");\n}\n";
</script>

