</div>
<div class="fvert">
<div class="fhorb">
<button id="tclb" onclick="tclb()">CLEAR</button>
<button id="trsb" onclick="trsb()">RESET</button>
<button id="tcpb" onclick="tcpb()">COPY</button>
<button id="trnb" onclick="trnb()">RUN</button>
</div>
<textarea id="stdin"></textarea>
<textarea id="stdout" readonly></textarea>
</div>
</div>
<script>
let defcod = "fault Test\n{\n\tSOMETHING_MISSING,\n\tGENERAL_ERROR_WAS_HERE\n}\n\nfn void! x(int i)\n{\n\tif (i < 0) return Test.SOMETHING_MISSING?;\n}\n\nfn void main()\n{\n}\n";
</script>

