</div>
<div class="fvert">
<div class="fhorb">
<button id="tclb" onclick="tclb()">CLEAR</button>
<button id="trsb" onclick="trsb()">RESET</button>
<button id="tcpb" onclick="tcpb()">COPY</button>
<button id="trnb" onclick="trnb()">RUN</button>
</div>
<textarea id="stdin"></textarea>
<textarea id="stdout" readonly></textarea>
</div>
</div>
<script>
let defcod = "import std::io;\n\nfn void main()\n{\n\tint x = 2;\n\n\tif (x == 1)\n\t{\n\t\tio::printfn(\"1\");\n\t}\n\telse if (x == 2)\n\t{\n\t\tio::printfn(\"2\");\n\t}\n\telse\n\t{\n\t\tio::printfn(\"0\");\n\t}\n}\n";
</script>

