</div>
<div class="fvert">
<div class="fhorb">
<button id="tclb" onclick="tclb()">CLEAR</button>
<button id="trsb" onclick="trsb()">RESET</button>
<button id="tcpb" onclick="tcpb()">COPY</button>
<button id="trnb" onclick="trnb()">RUN</button>
</div>
<textarea id="stdin"></textarea>
<textarea id="stdout" readonly></textarea>
</div>
</div>
<script>
let defcod = "import std::io;\n\nfn void main()\n{\n\tString s = \"Gone--\";\n\n\tswitch (s)\n\t{\n\t\tcase \"Python\":\n\t\t\tio::printf(\"Far from \");\n\t\t\tnextcase \"C3\";\n\t\tcase \"OOP++\":\n\t\t\tio::printf(\"Definitely not \");\n\t\t\tnextcase;\n\t\tcase \"C3\":\n\t\tcase \"C\":\n\t\t\tio::printfn(\"OK\");\n\t\tdefault:\n\t\t\tio::printf(\"Most likely not \");\n\t\t\tnextcase \"C3\";\n\t}\n}\n";
</script>

