{{ if not (.Page.Store.Get "codeblock-id") }}
{{ .Page.Store.Set "codeblock-id" 0 }}
{{ end }}
{{ .Page.Store.Add "codeblock-id" 1 }}
{{ $id := (.Page.Store.Get "codeblock-id") }}

{{ if .Attributes.norun }}
<div class="c3block c3block-norun">
	<div style="position: relative;">
		<div class="c3block_buttons">
			<button class="copyb" id="copy-{{$id}}" title="Copy code to clipboard">
				<div class="icon-copy"></div>
			</button>
		</div>
		<pre><code id="code-{{$id}}" class="language-c3">{{ trim .Inner "\r\n" }}</code></pre>
	</div>
</div>
{{ else }}
<div class="c3block">
	<div style="position: relative;">
		<div id="defcod-{{$id}}" style="display: none;">{{ trim .Inner "\r\n" }}</div>
		<div class="c3block_buttons">
			<button class="clearb" id="clear-{{$id}}" title="Clear code block">
				<div class="icon-x"></div>
			</button>
			<button class="resetb" id="reset-{{$id}}" title="Reset code block">
				<div class="icon-reset"></div>
			</button>
			<button class="copyb" id="copy-{{$id}}" title="Copy code to clipboard">
				<div class="icon-copy"></div>
			</button>
			<button class="runb" id="run-{{$id}}" title="Run code">
				<div class="icon-play"></div>
			</button>
		</div>
		<pre><code id="stdin-{{$id}}" class="language-c3">{{ trim .Inner "\r\n" }}</code></pre>
		<textarea id="stdout-{{$id}}" class="stdout" readonly hidden></textarea>
	</div>
</div>
{{ end }}
