{{ $id := .Page.Store.Get "current-codeblock-id" }}
</div>
<div class="fvert">
	<div style="position: relative; width: 100%;">
		<div class="c3block_buttons">
			<button class="clearb" id="clear-{{$id}}" title="Clear code block">
				<div class="icon-x"></div>
			</button>
			<button class="resetb" id="reset-{{$id}}" title="Reset code block">
				<div class="icon-reset"></div>
			</button>
			<button class="copyb" id="copy-{{$id}}" title="Copy code to clipboard">
				<div class="icon-copy"></div>
			</button>
			<button class="runb" id="run-{{$id}}" title="Run code">
				<div class="icon-play"></div>
			</button>
		</div>
		<pre><code id="stdin-{{$id}}" class="language-c3">{{ .Page.Store.Get (printf "defcod-text-%d" $id) }}</code></pre>
	</div>
	<textarea id="stdout-{{$id}}" class="stdout" readonly hidden></textarea>
</div>
</div>
