</div>
<div class="fvert">
<div class="fhorb">
<button id="tclb" onclick="tclb()">CLEAR</button>
<button id="trsb" onclick="trsb()">RESET</button>
<button id="tcpb" onclick="tcpb()">COPY</button>
<button id="trnb" onclick="trnb()">RUN</button>
</div>
<pre><code id="stdin" class="language-c3"></code></pre>
<textarea id="stdout" readonly></textarea>
</div>
</div>
<script>
let defcod = "import std::io;\n\nfn void hello() @init\n{\n\tio::printf(\"hello\");\n}\n\nfn void world() @finalizer\n{\n\tio::printfn(\"world\");\n}\n\nfn void main()\n{\n\tio::printf(\", \");\n}\n";
</script>

